*{
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
}

.main-logo-conatiner{
    display: flex;
    justify-content: center;
}
.main-logo-conatiner .main-logo{
    width: 148.06px;
    height: 40px;
}

.item_selected{
    background-color: whitesmoke !important;
}

.MuiButton-containedPrimary{
    background-color: #179F57 !important;
}

.MuiSwitch-colorPrimary.Mui-checked{
    color: #179F57 !important;
}
.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #179F57 !important;
}
.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    opacity: 0.5 !important;
}


.MuiAppBar-colorPrimary{
    background-color: #179F57 !important;
}

.MuiCircularProgress-root{
    color: #179F57 !important;
}

.disable-container{
    pointer-events: none !important;
}
.view-loader{
    z-index: 1000;
    position: absolute;
    top: 50%;
    right: 50%;
}


.no-slection{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    word-break: break-word;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    padding: 20px;
    text-align: center;
    opacity: 0.5;
}

.no-slection-border-top{
    border-top: 1px solid #DCDCDC;
}